header {
  display: flex;
  border: 1px solid var(--primary-50);
  background-color: #f7e3b5;
  border-radius: var(--border-radius);
  padding: 20px;
}

header h1 {
  margin-bottom: 15px;
}

var {
  font-size: 1.5rem;
}

header var {
  font-style: normal;
  margin-bottom: 15px;

  color: var(--primary);
}

.App {
  margin: 40px auto;
  max-width: 1000px;
  background-color: #f7f7f7;
}

body {
  background-color: #f7f7f7 !important;
}

.grid {
  border: 1px solid var(--primary-50);
  background-color: #f7e3b5;
  border: 0;
  padding: 20px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

button {
  width: 30%;
  font-size: 1.7rem !important;
}
